main {
	padding: 2.25rem;
}
.form {
	display: grid;
	grid-template: 2.5rem 2.5rem / 1fr 1fr;
	grid-gap: 1rem;
}

.form--button {
	grid-column: 1 / -1;
	font-family: "Karla", sans-serif;
	border: none;
	border-radius: 0.3125rem;
	background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
	border-radius: 5px;

	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.1em;
	color: #ffffff;
}

.form--reaction {
	margin: 8px;
}

.form--input {
	font-family: "Karla", sans-serif;
	border-radius: 0.3125rem;
	border: 0.0625rem solid rgba(213, 212, 216, 1);
	text-indent: 5px;
}
