@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Karla", sans-serif;
	margin: 0;
}
